{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'music/css/artist_page.css' %}">
{% endblock %}
{% block content %}

<!-- Шапка артиста -->
<div class="artist-header">
  <div class="artist-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), var(--bg-dark)), url('{{ artist.avatar.image.url }}');"></div>
  
  <div class="artist-info">
    {% if artist.verified %}
    <div class="verified-badge">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
      </svg>
      <span>Подтвержденный исполнитель</span>
    </div>
    {% endif %}
    
    <h1 class="artist-name">{{ artist.name }}</h1>
    <div class="artist-stats">
      <span>{{ monthly_listeners }} ежемесячных слушателей</span>
    </div>
  </div>
  
  <!-- Кнопки управления -->
  {% include 'track_controls.html' %}
</div>

<!-- Список треков -->
{% include 'track_list.html' %}

<!-- Дискография -->
<section class="discography">
  <h2>Дискография</h2>
  <div class="releases-grid">
    {% for release in releases %}
        <a href="/music/release/{{ release.id }}/" class="album-link">
        <div class="release-card">

          <div class="release-cover">
              <img src="{{ release.cover_image.image.url }}" alt="{{ release.name }}">
            <button class="release-play-button">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="#FFA500"></circle>
                <path d="M33 24L19 32.6603L19 15.3397L33 24Z" fill="white"></path>
              </svg>
            </button>
          </div>
          <div class="release-info">
            <h3 style="color: var(--text-color);">{{ release.name }}</h3>
            <span class="release-year">{{ release.release_date|date:"Y" }}</span>
          </div>
        </div>
        </a>

    {% endfor %}
  </div>
</section>

{% endblock %}
