{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Шапка трека -->
<div class="track-detail-header">
  <div class="track-detail-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), var(--bg-dark)), url('{{ track.release.cover_image.image.url }}');"></div>
  
  <div class="detail-info">
    <div class="detail-cover">
      <img src="{% if track.cover_image %}{{ track.cover_image.image.url }}{% else %}{{ track.release.cover_image.image.url }}{% endif %}" alt="{{ track.name }}">
    </div>
    
    <div class="detail-meta">
      <span class="detail-type">{{ track.track_type }}</span>
      <h1 class="detail-title">{{ track.name }}</h1>
      
      <div class="detail-artist-info">
        <div class="detail-artist-details">
          <a href="/music/artist/{{ track.artists.first.id }}/" class="detail-artist-name">{{ track.artists.first.name }}</a>
          <div class="detail-stats">
            <span>{{ track.release.release_date|date:"Y" }}</span>
            <span class="dot-separator">•</span>
            <span>{{ release_tracks.count }} {% if release_tracks.count == 1 %}трек{% elif 2 <= release_tracks.count and release_tracks.count <= 4 %}трека{% else %}треков{% endif %}</span>
            <span class="dot-separator">•</span>
            <span>{{ total_duration }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Кнопки управления -->
  {% include 'track_controls.html' %}
</div>

<!-- Список треков -->
{% include 'track_list.html' %}

{% endblock %}

